*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Bangers'; font-size: 20px;
    text-align: center;
    text-shadow: 2px 2px 5px red;
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
}

header {
    height: 100px;
    background: black;
    width: 100%;
    z-index: 12;
    position: fixed;
}

.logo {
    width: 30%;
    float: left;
    line-height: 100px;
}

.logo a {
    text-decoration: none;
    font-size: 30px;
    font-family: bangers;
    color: white;
    letter-spacing: 5px;
}

nav {
    float: right;
    line-height: 100px;
}

nav a {
    text-decoration: none;
    font-family: bangers;
    letter-spacing: 4px;
    font-size: 20px;
    margin: 0 10px;
    color: white;
}

.banner-area {
    width: 100%;
    height: 640px;
    position: fixed;
    top: 100px;
    background-image: url(https://staticg.sportskeeda.com/editor/2023/03/b9220-16788305879337-1920.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.banner-area h2 {
    padding-top: 8%;
    font-size: 70px;
    font-family: Bangers;
    text-transform: uppercase;
    color:beige;
}

.content-area {
    width: 100%;
    position: relative;
    top: 600px;
    background: black;
    height: 100%;
    color: white;
}

.content-area h2 {
    font-family: bangers;
    letter-spacing: 4px;
    padding-top: 30px;
    font-size: 40px;
    margin: 0;
}

.content-area p {
    padding: 2% 0;
    font-family: bangers;
    line-height: 30px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

nav ul {
    list-style-type: none;
    padding: 0%;
}

article {
    text-align: center;
}

section::after {
    content: "";
    display: table;
    clear: both;
}

header h1 {
    font-size: 40px;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.icon {
    font-size: 30px;
    color: aliceblue;
}

.player-wrapper {
    width: 776px;
    height: 437px;
    margin-top: 30px;
    margin-left: 40px;
    color: white;
}

.player-wrapper.full-screen {
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
}

.video-controller {
    width: 100%;
    height: 70px;
    position: relative;
    top: -70px;
    opacity: 0;
}

.player-wrapper:hover .video-controller {
    opacity: 1;
    transition: opacity 3s;
}

.controller-container {
    height: inherit;
}

.video-holder {
    width: inherit;
    height: inherit;
    background: black;
}

video {
    width: auto;
    height: inherit;
}

.auto-play-bar {
    width: 50px;
    height: 15px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.515);
}

.auto-play-switcher {
    font-size: 20px;
    padding: 1px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.447);
    color: black;
}

.play-bar {
    width: 100%;
    height: 3px;
    background: rgba(255, 255, 255, 0.537);
    cursor: pointer;
}

.running {
    width: 0%;
    height: inherit;
    background: red;
} 

.player-option-wrapper {
    position: relative;
    height: 110px;
    top: -200px;
    left: -160px;
    width: 250px;
    background: rgba(255, 255, 255, 0.86);
    padding: 7px;
    border-radius: 10px;
}
.flex {
    display: flex;

}

.flex-col {
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
    align-content: center;
}

.justify-btw {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

.justify-start {
    justify-content: flex-start;
}

.hidden {
    display: none;
}

.mt-10 {
    margin-top: 10px;
}

.ms-10 {
    margin-left: 10px;
}

.me-10 {
    margin-right: 10px;
}

.greyed-out {
    color: gray;
}

footer {
    padding: 5px;
    text-align: center;
    background: rgba(11, 11, 11, 0.551);
    color: white;
}
